.App {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}


/* Navigation */

.NavTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-bottom: 50px;
}

.Logo {
  font-size: 50px;
}

.Logo i {
  color: #BF0436;
}

.Logo span {
  color: #BF0436;
}

.NavBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.Search input {
  height: 20px;
  width: 200px;
  border-style: solid;
  border-radius: 20px;
}

.SearchButton {
  background-color: transparent;
  border-style: none;
  font-size: 15px;
  color: #BF0436;
}

.SearchButton i:hover {
  text-shadow: 0px 0px 3px #BF0436;
  cursor: pointer;
}

.ProfilePhoto {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: grey;
}

.MainButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.MainButtons .Button1 {
  font-size: 20px;
  font-weight: bold;
}

.link {
  text-decoration-line: none;
  color: #023059;
}


/* NavIcons */
.Icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.Icons i {
  font-size: 30px;
  color: #BF0436;
}
/* NavIcons */
/* Navigation */



/* HomePage */

.Advert {
  background-color: #1E1E1E;;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: left;
}

.AdvertContent {
  margin-left: 20px;
}

.AdvertContent button {
  margin-top: 50px;
  height: 30px;
  width: 300px;
  background-color: #BF0436;
  border-style: none;
  border-radius: 5px;
  color: white;
}

.AdvertContent button:hover {
  box-shadow: 0px 0px 20px #BF0436;
}

.Advert img {
  height: 400px;
  width: 400px;
}
/* /HomePage */


footer {
  background-color: #1E1E1E;
  height: 200px;
}